@model NEO_SYSTEM_TECHNOLOGY.ViewModels.RmDogovorOrganizationVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .bg-blue {
        background-color: aliceblue;
        padding: 25px;
    }

    .classname {
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }

    /* Target table headers and make their lines bold */
    .table th {
        border: 1px solid black; /* Set border properties */
        font-weight: bold; /* Make table headers bold */
        padding: 8px;
        text-align: center;
    }

    .table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        .organization-details

    {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .organization-name {
        text-align: right; /* Align organization name to the right */
        margin-bottom: 20px; /* Adjust space between organization name and employees */
    }

    .employees {
        width: 100%; /* Occupy full width */
        overflow-x: auto;
    }

    .organization-details {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

</style>


<div class="bg-blue">
    <div class="organization-details">
        <div class="organization-name">
            <h2 style="font-size: 20px; display: inline-block; border-bottom: 1px solid #000;">@Html.DisplayName(Model.OrganizationName)</h2>
        </div>

        <div class="employees">
            <table class="table">
                <thead>
                    <tr>
                        <th>Номер Контракта</th>
                        <th>Дата Контракта</th>
                        <th>Дата окончания контракта</th>
                        <th>Сумма контракта</th>
                        <th>Договор PDF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr @* onclick="location.href='@Url.Action("EditEmployee", "Employee", new { employeeId = employee.ID })';" style="cursor: pointer;" *@>
                        <td>@Model.OrderHeader</td>
                        <td>@Model.StartDate</td>
                        <td>@Model.EndDate</td>
                        <td>@Model.DogovorSum</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @* @Html.ActionLink("Удалить Контракт", "Delete", "Organization", new { orgId = Model.ID }, new { @class = "btn btn-default btn-outline-primary" }) *@
    @Html.ActionLink("Добавить Новый Заказ к Договору", "AddNewZakaz", "RmDogovor", new { dogovorId = Model.DogovorId }, new { @class = "btn btn-default btn-outline-primary" })
    @Html.HiddenFor(p => p.DogovorId)
</div>
<hr style="border: 1px solid black"/>

<div class="organization-details" style="padding: 25px">
    <h2 style="font-size: 20px; display: inline-block; border-bottom: 1px solid #000;">Все заказы к данному Договору</h2>
    <div class="employees">
        <table class="table">
            <thead>
                <tr>
                    <th>Номер Заказа</th>
                    <th>Дата Заказа</th>
                    <th>Дата окончания Заказа</th>
                    <th>Сумма Заказа</th>
                    <th>Заказ PDF</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var zakaz in Model.Orders)
                    {
                    <tr>

                        <td>@zakaz.OrderNumber</td>
                        <td>@zakaz.StartDate</td>
                        <td>@zakaz.EndDate</td>
                        <td>@zakaz.ZakazSum</td>
                        <td>PDF</td>
                    </tr>
                    }
               
            </tbody>
            
        </table>
    </div>
</div>


