@model NEO_SYSTEM_TECHNOLOGY.ViewModels.OrganizationDogovorVM

<style>
    .container{
        margin: 20px auto;
        padding-bottom: 80px;       
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;       
    }

    h3 {
        text-align: center;
        color: #666;
    }

    .global {
        display: flex;
    }
    .container #child{
        float: left;
        width: 100%;

    }
    .container #child div{
        float: left;
    }

    .parent{
        margin: px
    }

    .child {
        display: inline-block;
        vertical-align: middle;
    }

    iframe {
        width: 100%; /* Optional: Set the width of the iframe */
        height: 500px; /* Optional: Set the height of the iframe */
        border: none; /* Remove the border around the iframe */
    }

        /* Hide controls in the iframe */
        iframe::-webkit-scrollbar {
            display: none; /* Hide the scrollbar for WebKit (Chrome, Safari, Edge) */
        }

    /* Additional styles for Firefox */
    iframe {
        overflow: -moz-scrollbars-none;
    }

        iframe::-moz-scrollbar {
            display: none;
        }

</style>

<div class="container">
    <h3>@Model.OrganizationName</h3>

    <div class='parent'>
        <div class='child'>
            <p><b>Номер Контракта:&nbsp;</b></p>
            <p><b>Дата Контракта:&nbsp;</b></p>
            <p><b>Дата окончания контракта:&nbsp;</b></p>
            <p><b>Сумма контракта :&nbsp;</b></p>
        </div>

        <div class='child'>
            <p>@Model.OrderHeader</p>
            <p>@Model.StartDate.ToString("dd MMMM yyyy")</p>
            <p>@Model.EndDate.ToString("dd MMMM yyyy")</p>
            <p>@Model.DogovorSum @Model.Currency</p>
        </div>
    </div>

    <div class='child'>

        <iframe src="data:application/pdf;base64,@Model.FilePath" width="600" height="400"></iframe>

    </div>
</div>



    <div>
        @Html.ActionLink("Выставить Счет", "AddNewReceipt", "Receipt", new { dogovorId = Model.DogovorId }, new { @class = "btn btn-default btn-outline-primary" })
        @Html.ActionLink("Изменить Контракт", "EditDogovor", "Dogovor", new { dogovorID = Model.DogovorId }, new { @class = "btn btn-default btn-outline-primary" })
    </div>
   
</div>




