@model IEnumerable<NEO_SYSTEM_TECHNOLOGY.Entity.Contract>

    <div>
    <table class="table table-hover table-bordered center" style="width: 98%; margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Заказчик</th>
                <th>Номер Контракта</th>
                <th>Дата Контракта</th>
                <th>Дата окончания контракта</th>
                <th>Сумма контракта в Сомони без учета НДС</th>
                <th>Сумма контракта в Сомони с учетом НДС</th>
                <th>Сумма контракта в USD без учета НДС</th>
                <th>Сумма контракта в USD с учетом НДС</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style='vertical-align:middle'>@item.Organization.Name</td>
                    <td>
                        @Html.ActionLink(item.OrderNumber.ToString(),"Details","Organization", new {id = item.ID},  new {@style="text-decoration:none; color: black"})
                    </td>
                    <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.EndDate.ToString("dd/MM/yyyy")</td>

                    <td>
                        @if (!item.IsVatIncluded && (int)item.Currency == 1)
                        {
                          <p>@item.ContractSum</p>  
                        } 
                    </td>
                    
                    <td>
                        @if (item.IsVatIncluded && (int)item.Currency == 1)
                        {
                            <p>@item.ContractSum</p>
                        }
                    </td>
                    
                    <td>
                        @if (!item.IsVatIncluded && (int)item.Currency == 2)
                        {
                            <p>@item.ContractSum</p>
                        }
                    </td>

                    <td>
                        @if (item.IsVatIncluded && (int)item.Currency == 2)
                        {
                            <p>@item.ContractSum</p>
                        }
                    </td>

                </tr>
                
            }

        </tbody>

    </table>
    </div>