@model IEnumerable<NEO_SYSTEM_TECHNOLOGY.Entity.Organization>
@{
    ViewBag.Title = "Index";

}

<h2>Клиенты</h2>

<div class="form-group" style="padding: 25px">
    @Html.ActionLink("Добавить нового клиента", "Create", "Organization", null , new { @class = "btn btn-default btn-outline-primary"})
</div>

<div>
    <table class="table table-hover table-bordered center" style="width: 98%; margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Организация</th>
                <th>Сотрудник</th>
                <th>Номер Телефона</th>
                <th>Почта</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style='vertical-align:middle'>

                        @Html.ActionLink(item.Name,"Details","Organization", new {id = item.ID},  new {@style="text-decoration:none; color: black"})
                    </td>
                    <td>
                        @foreach (var entity in item.Person)
                        {
                            <p>@entity.FirstName @entity.LastName<br /></p>
                        }
                    </td>
                    <td>
                        @foreach (var entity in item.Person)
                        {
                            <p>@entity.PhoneNumber<br /></p>
                        }
                    </td>
                    <td>
                        @foreach (var entity in item.Person)
                        {
                            <p>@entity.Email<br /></p>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>